# Fichier de configuration .env
# Assurez-vous de définir les valeurs correctes pour ces variables dans votre fichier .env

DB_USER=# Utilisateur de la base de données
DB_PASSWORD=# Mot de passe de la base de données
DB_HOST=# Hôte de la base de données
SECRET_TOKEN=# Jeton secret pour l'authentification
